body {
    font-family: 'Open Sans', sans-serif;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet-active{
    --swiper-theme-color: #a31d1d;
}
.swiper-button-prev:active, .swiper-button-next:active {
    --swiper-theme-color: #fb8c16;
}
.swiper-slide-header {
    width:auto!important
}
.swiper-slide {
    height:auto!important
}
.categories-slider-prev::after, .categories-slider-next::after, .header-slider-prev::after, .header-slider-next::after, .promo-slider-prev::after,.promo-slider-next::after, .product-slider-prev::after, .product-slider-next::after {
    display:none;
}
.swiper-pagination-bullet {
    background-color: white;
    opacity: 100;
    height: 17px;
    width: 17px;
}
.swiper-pagination-bullet-active {
    background-color: #a31d1d;
}

.categories-slider-next, .categories-slider-prev {
    position: static;
    top: 0;
    width: auto;
    height: auto;
    margin-top: 0;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 480px) {
    .product_title {
        height: 72px;
    }
    .number_header {
        font-size: 18px;
    }
    .top_header {
        gap: 40px;
        justify-content: space-around;
    }
    .price_header {
        display: block;
    }
    .right_header {
        gap: 40px;
    }
    .info_block {
        font-size: 14px;
    }
    .info_flex {
        flex-direction: row;
    }
    .info_p {
        order: 1;
    }
    .name_text {
        font-size: 34px;
    }
}
@media (max-width: 479px) {
    .number_header {
        font-size: 16px;
    }
    .top_header {
        justify-content: space-between;
    }
    .price_header {
        display: none;
    }
    .right_header {
        gap: 20px;
    }
    .info_block {
        font-size: 12px;
    }
    .info_flex {
        flex-direction: column;
    }
    .info_p {
        order: 22;
    }    
    .info_p {
        height: 36px;
        width: 100%;
    }
    .name_text {
        font-size: 30px;
    }
}